.navigation {
  align-items: center;
  display: flex;
  margin: 20px 0;
  justify-content: space-between;

  p {
    color: white;
  }

  .right {
    display: flex;

    p {
      margin-left: 20px;
    }
  }
}
